.linkBtn {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    transition: var(--transition);
    cursor: pointer;
}

.linkBtn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}