.vantage {
    max-width: var(--max-width);
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 3rem 0;

}

.vantageWrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.vantageContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pVantage {
    color: var(--color-white);
    font-size: 20px;
    line-height: 24,4px;
    font-weight: 300;
    letter-spacing: 1px;
}

.btnHeroClass {
    padding: 1rem 43.5px;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    transition: var(--transition);
    cursor: pointer;
}

.btnHeroClass:hover {
    color: var(--color-black);
    background-color: var(--color-white);
}

.carVantage {
    transition: var(--transition);
    cursor: pointer;
}

.carVantage:hover {
    transform: scale(1.02);
}

@media(max-width:600px) {

    .vantageWrapper {
        flex-direction: column;
        padding: 0 1rem;
    }

    .vantageContent {
        align-items: center;
    }

    .pVantage {
        text-align: center;
        max-width: 30ch;
    }

}