:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #404040;
    --color-darkRed: #91282f;
    --transform: scale(1.1);
    --transition: 0.3s all ease-in-out;
    --max-width: 1280px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-smooth: always;
    background-color: var(--color-black);
    font-family: "inter", sans-serif;
}

button { 
    background: transparent;
    border: transparent;
}

a {
    text-decoration: none;
    color: var(--color-white); 

}

img{
    display: block;
    width: 100%;
    height: auto;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

